@model AllCarsQueryModel


@{
    ViewBag.Title = "Всички заявки";
}

@*<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Brand">Търсене по марка и модел на автомобил:</label>
                <select asp-for="Brand" class="form-control">
                    <option value="">Всички автомобили</option>

                    @foreach (var query in Model.Brands)
                    {
                        <option value="@query">@query</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="SearchTerm">Търсене по текст от описание:</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="" />
        </div>

        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting">Подредба по:</label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0" selected>Име</option>
                    <option value="1">Дата</option>
                </select>
            </div>
        </div>
    </div>


</form>*@

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalQueries / AllCarsQueryModel.QueriesPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Queries"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-id="@Model.Brand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">< Предходна страница</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Queries.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Queries"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-id="@Model.Brand"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">Следваща страница ></a>
    </div>
</div>

@if (!Model.Queries.Any())
{
    <h1 class="text-center">Няма налични заявки.</h1>
}

<partial name="_QueriesPartial" model="@Model.Queries" />
