@model Query

@{
    ViewBag.Title = "Delete";
}

<div>
    <h2>
        Сигурни ли сте, че искате да изтриете заявката ?
    </h2>
    <hr />
    <dl class="row">
        <h5 class="col-sm-2">
            Текуща заявка :
        </h5>
        <h7 class="col-sm-2">
            Номер: @Html.DisplayFor(model => model.Id)
            <br />
            Дата и час на създаване : @Html.DisplayFor(model => model.Date)
            @Html.DisplayFor(model => model.Model)
            @Html.DisplayFor(model => model.Color)
            @Html.DisplayFor(model => model.RegistrationNumber)
        </h7>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="All" type="submit" value="Back" class="btn btn-primary">Back</a>
    </form>
</div>


